<!DOCTYPE html>

<head>
		<meta charset="utf-8">

		<script>if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }</script>
		<script src="http://localhost:4001/public/js/jquery-3.4.1.min.js"></script>
		<script src="http://localhost:4001/public/js/bootstrap.min.js"></script>
		<script src="http://localhost:4001/public/js/tooltip.min.js"></script>
		<script>if (window.module) module = window.module;</script>

		<link rel="stylesheet" href="http://localhost:4001/public/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>New Product</title>
</head>
<body>
<br/>
<br/>

<div class="container">

		<form name="editProductForm" method="POST">
				<div class="form-group">
						<label for="product">Name</label>
						<input name="product" value="{{.Product.Name}}" placeholder="Product Name" type="text"
									 class="form-control col-md-6"/>
				</div>

				<div class="form-group">
						<label for="box">Box Quantity</label>
						<input name="box" value="{{.Product.BoxQuantity}}" placeholder="Box Quantity" type="number"
									 class="form-control col-md-6"/>
				</div>

				<div class="form-group">
						<label for="packet">Packet Quantity</label>
						<input name="packet" value="{{.Product.PacketQuantity}}" placeholder="Packet Quantity" type="number"
									 class="form-control col-md-6"/>
				</div>

				<div class="form-group">
						<label for="price">Price</label>
						<input name="price" value="{{.Product.Price}}" placeholder="Price" type="number" step=".01"
									 class="form-control col-md-6">

				</div>
				<div class="form-group">
						<label for="weight">Weight</label>
						<input name="weight" value="{{.Product.Weight}}" required placeholder="Weight" type="number" step=".01"
									 class="form-control col-md-6">

				</div>
				<div class="form-group">
						<label for="obox">Opening Boxes</label>
						<input
										{{if ne .U.Admin 1}}
										disabled
										{{end}}
										name="obox" value="{{.Product.OpeningBox}}" placeholder="Opening Boxes" type="number"
										class="form-control col-md-6">

				</div>
				<div class="form-group">
						<label for="opacket">Opening Packets</label>
						<input
										{{if ne .U.Admin 1}}
										disabled
										{{end}}
										name="opacket" value="{{.Product.OpeningPacket}}" placeholder="Opening Packets" type="number"
										class="form-control col-md-6"/>

				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
		</form>
</div>
</body>