<!DOCTYPE html>

<head>
    <meta charset="utf-8">

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="http://localhost:4001/public/js/jquery-3.4.1.min.js"></script>
    <script src="http://localhost:4001/public/js/bootstrap.min.js"></script>
    <script src="http://localhost:4001/public/js/tooltip.min.js"></script>
    <link rel="stylesheet" href="http://localhost:4001/public/css/bootstrap.min.css">
    <script>if (window.module) module = window.module;</script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Anjani Plast</title>
</head>
<body>
<br/>
<br/>


<div class="container">
        <div class= "row">
            <div class="col">
                Hey there This is the Index
            </div>
        </div>
    </div>
</body>