<!DOCTYPE html>
<head>
    <meta charset="utf-8">

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="http://localhost:4001/public/js/jquery-3.4.1.min.js"></script>
    <script src="http://localhost:4001/public/js/bootstrap.min.js"></script>
    <script src="http://localhost:4001/public/js/tooltip.min.js"></script>
    <link rel="stylesheet" href="http://localhost:4001/public/css/bootstrap.min.css">
    <script>if (window.module) module = window.module;</script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
</head>
<body>
<br/>
<br/>
<br/>
<br/>
<div class="container">
        <div class= "row">
            <div class= "col-md-6 offset-md-3" style="margin-top: 10%">
                <div class="card" style="width: 100%;text-align: center; padding-right: 5%; padding-left: 5%">
                    <div class="card-body">
                      <h3 class="card-title">Login</h5>
                      <form class="form" name="loginFom" action="/" method="POST">
                        <div class="form-group">
                            <input class="form-control" name="username" placeholder="username"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="password" placeholder="password" type="password"/>
                        </div>
                        <div class= form-group>
                            <button type="submit" class="btn btn-primary">Submit</button>

                        </div>
                      </form>
                    </div>
                  </div>
                
            </div>
        </div>
    </div>
</body>