<!DOCTYPE html>

<head>
    <meta charset="utf-8">

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="http://localhost:4001/public/js/jquery-3.4.1.min.js"></script>
    <script src="http://localhost:4001/public/js/bootstrap.min.js"></script>
    <script src="http://localhost:4001/public/js/tooltip.min.js"></script>
    <script src="http://localhost:4001/public/js/lp.js"></script>
    <link rel="stylesheet" href="http://localhost:4001/public/css/bootstrap.min.css">
    <script>if (window.module) module = window.module;</script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Labour Payment</title>
</head>
<body>
<br/>
<br/>

<div class="container">
        <div class= "row">
            <div class="col-md-4">
                <div class ="form-group">
                <label for="from-date">From Date</label>
                <input type="date" class="form-control" required onchange="onFromDateChange();" name="from-date" id="from-date">
                </div>
            </div>
            <div class="col-md-2 ">
                <button onclick="onSubmitClick(event);" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-md-2">
              <a id="printAnchor" target="_blank">  <button class="btn btn-success">Print</button></a>
            </div>
            <div class="col-md-4">
                <div class ="form-group">
                <label for="to-date">To Date</label>
                <input type="date" class="form-control" required onchange="onToDateChange();" name="to-date" id="to-date">
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <th>Labour Name</th>
                    <th><span id="day-1">Saturday</span></th>
                    <th><span id="day-2">Sunday</span></th>
                    <th><span id="day-3">Monday</span></th>
                    <th><span id="day-4">Tuesday</span></th>
                    <th><span id="day-5">Wednesday</span></th>
                    <th><span id="day-6">Thurday</span></th>
                    <th><span id="day-7">Sunday</span></th>
                    <th><span id="total">Total</span></th>
                </thead>
                <tbody id="lp-body">
                </tbody>
            </table>
        </div>
    </div>
</body>