<!DOCTYPE html>

<head>
    <meta charset="utf-8">

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="http://localhost:4001/public/js/jquery-3.4.1.min.js"></script>
    <script src="http://localhost:4001/public/js/lpPrint.js"></script>
    <link href= "http://localhost:4001/public/css/lpPrint.css" type="text/css" rel="stylesheet">
    <script>if (window.module) module = window.module;</script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Labour Payment</title>
</head>
<body>
    <table class="main-table">
        <tr><td class="heading" colspan="4"><h2>Labour Payment</h2></td></tr>
        <tr><td class="dateLabel">From:</td><td><span id="from-date">{{index .Days 0}}</span></td>
            <td class="dateLabel">To:</td><td><span id="to-date">{{index .Days 6}}</span></td></tr>
        <tr>
            <td colspan="4">
                <table id="lp-table">
                    <tr class="thead">
                    <th class='label name-col'>Name</th>
                    <th class='label day-col'><span id="day1"></span></th>
                    <th class='label day-col'><span id="day2"></span></th>
                    <th class='label day-col'><span id="day3"></span></th>
                    <th class='label day-col'><span id="day4"></span></th>
                    <th class='label day-col'><span id="day5"></span></th>
                    <th class='label day-col'><span id="day6"></span></th>
                    <th class='label day-col'><span id="day7"></span></th>
                    <th class='label total-col'>Total</th>
                    <th class='label ammount-col'>Ammount</th>
                    <th class='label signature-col'>Signature</th>
                    </tr>
                    <tbody>
                        {{range .Lps}}
                        <tr>
                            <td class=' name-col'>{{.Labour}}-{{countDays .}}</td>
                            <td class=' day-col'>{{if shouldPrint .Day1}}{{.Day1}}{{end}}</td>
                            <td class=' day-col'>{{if shouldPrint .Day2}}{{.Day2}}{{end}}</td>
                            <td class=' day-col'>{{if shouldPrint .Day3}}{{.Day3}}{{end}}</td>
                            <td class=' day-col'>{{if shouldPrint .Day4}}{{.Day4}}{{end}}</td>
                            <td class=' day-col'>{{if shouldPrint .Day5}}{{.Day5}}{{end}}</td>
                            <td class=' day-col'>{{if shouldPrint .Day6}}{{.Day6}}{{end}}</td>
                            <td class=' day-col'>{{if shouldPrint .Day7}}{{.Day7}}{{end}}</td>
                            <td class=' total-col'>{{.TGlass}}</td>
                            <td class=' ammount-col'>{{roundMoney .Total}}</td>
                            <td class=' signature'></td>
                        </tr>
                        {{end}}
                        <tr>
                            <td colspan=9 class="label total-ammount-row">Total</td>
                            <td class="total-ammount-row">{{roundMoney .TotalAmmount}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>