<!DOCTYPE html>

<head>
    <meta charset="utf-8">

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="http://localhost:4001/public/js/jquery-3.4.1.min.js"></script>
    <script src="http://localhost:4001/public/js/bootstrap.min.js"></script>
    <script src="http://localhost:4001/public/js/tooltip.min.js"></script>
    <link rel="stylesheet" href="http://localhost:4001/public/css/bootstrap.min.css">
    <script>if (window.module) module = window.module;</script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Products</title>
</head>
<body>
<br/>
<br/>

<div class="container">
        
        <div class= "row">
            <div class="col">
                <h3 style="margin:5px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">Products</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/products/new">
                    <button id="newProductButton" class="btn btn-primary" style="margin: 20px">New</button>
                </a>
            </div>
        </div>
        
        <table id="productTable" class="table">
            <thead>
                <th>Name </th> 
                <th>Group</th>
                <th>Opening Stock</th>
                <th>Box</th>
                <th>Packet</th>
                <th>Edit</th>
                {{if eq .U.Admin  1}}
                <th>Remove</th>
                {{end}}
            </thead>
            <tbody>
              {{$admin:= .U.Admin}}
                {{range .Products}}
                    <tr>
                        <td>{{.Name}}</td>
                        <td>{{getGroupName .Group}}</td>
                        <td><b>{{.OpeningBox}}</b> Boxes <b>{{.OpeningPacket}}</b> Packets</td>
                        <td>{{.BoxQuantity}}</td>
                        <td>{{.PacketQuantity}}</td>
                        <td>
                            <button class="btn btn-warning" type="button" data-toggle="modal" 
                            data-target="#editModal" data-id= {{.ID}} data-name="{{.Name}}">
                                Edit
                            </button>
                        </td>
                        <td>
                            {{if eq $admin  1}}
                            <button class="btn btn-danger" type="button" data-toggle="modal"
                            data-target="#deleteModal" data-id={{.ID}} data-name="{{.Name}}">
                                Delete 
                            </button>
                            {{end}}
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>

    <!--
        Edit Modal
    -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Do you want to edit <b><span id="productName"></span></b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <a id="editButtonAnchor"><button type="button" class="btn btn-success">Edit</button></a>
      </div>
    </div>
  </div>
</div>
    <!--
        Delete Modal
    -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Do you want to delete <b><span id="productName"></span>?</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <a id="deleteButtonAnchor"><button type="button" class="btn btn-success">Delete</button></a>
      </div>
    </div>
  </div>
</div>


    <script>
        $('#editModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var id = button.data('id')
  var name = button.data('name') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('#productName').text(name)
  document.getElementById("editButtonAnchor").setAttribute("href","/products/edit/"+id)
})
        $('#deleteModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var id = button.data('id')
  var name = button.data('name') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('#productName').text(name)
  document.getElementById("deleteButtonAnchor").setAttribute("href","/products/delete/"+id)
})


    </script>
</body>