<!DOCTYPE html>

<head>
    <meta charset="utf-8">

		<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
		<script src="http://localhost:4001/public/js/jquery-3.4.1.min.js"></script>
    <script src="http://localhost:4001/public/js/bootstrap.min.js"></script>
    <script src="http://localhost:4001/public/js/tooltip.min.js"></script>
    <script src="http://localhost:4001/public/js/productstock.js"></script>
    <link rel="stylesheet" href="http://localhost:4001/public/css/bootstrap.min.css">
		<script>if (window.module) module = window.module;</script>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stock</title>
</head>
<body>
<br/>
<br/>

<div class="container">
        <div class= "row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="from-date" >From Date:</label>
                    <input type="date" onchange="onFromDateChange(event);" id="from-date" class="form-control" >
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="to-date">To Date:</label>
                    <input type="date"  onchange="onToDateChange(event);"id="to-date" class="form-control" >
                </div>
            </div>
            <div class ="col-md-5">
                <div class="form-group">
					<label for="product">Product</label>
					<select name="product" class="form-control" id="product" size="1">
						{{range .Products}}
                            <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
					</select>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <button class="btn btn-primary" onclick="onSubmitClick();" id = "submit">Submit</button>
                </div>
            </div>
		</div>
		<br>
	<div class = row>
		<div class="col-md-6">
			<b>Opening Stock : </b> <span id = "ostock"></span>
		</div>
		<div class="col-md-6">
			<b>Closing Stock : </b> <span id = "cstock"></span>
		</div>
	</div>
	<br>
    <div class= row>
        <table class="table">
           <thead >
               <tr>
                   <th scope="col">Date</th>
                   <th scope="col">Incoming </th>
                   <th scope="col">Outgoing</th>
               </tr>
           </thead> 
           <tbody id="stock-table-body">
               <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>
           </tbody>

        </table>
    </div>
    </div>
</body>